@import './base.css';

#app {
  max-width: 1280px;
  margin-inline: auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--brand-accent);
  transition: color 0.15s ease;
}

@media (hover: hover) {
  a:hover {
    color: var(--brand-accent-soft);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 0;
  }
}
